body {
    background-image: url("https://images.unsplash.com/13/unsplash_523b2af0710a7_1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: .5;
  opacity: .8;
}
h4{
  color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5;
  opacity: .8;
}
.fa-quote-left{
  color: #fff;
  
}
.fa-quote-right{
  color: #fff;
}

